<link href="video-js.css" rel="stylesheet">
<video id=video-stream1 width=320 height=240 class="video-js vjs-default-skin" controls>
  <source
     src="index.m3u8"
     type="application/x-mpegURL">
</video>
<script src="video.js"></script>
<script src="videojs-contrib-hls.min.js"></script>
<script>
var player = videojs('video-stream1');
player.autoplay();
player.play
</script>
